* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #f3f5f7;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.w {
	width: 1200px;
	margin: 0 auto;
}
.header {
	margin: 50px auto;
	height: 40px;
	text-align: center;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.logo {
	float: left;
	width: 195px;
	height: 42px;
	background: url(logo.png);
}
.nav {
	float: left;
	margin-left: 60px;
	height: 42px;
}
.nav ul {
	list-style: none;
}
.nav ul li {
	float: left;
	margin: 0 15px;
}
.nav ul li a {
	display: inline-block;
	height: 42px;
	padding: 0 10px;
	line-height: 42px;
	font-size: 18px;
	color: #050505;
}
.nav ul li a:hover {
	border-bottom: 2px solid #000000;
}
.bd ul li h4 {
	margin: 5px 0 0 5px;
	font-size: 16px;
	
}
.bd ul li p {
	margin: 5px 0 0 5px;
	font-size: 14px;
}
.ba ul {
	text-align: center;
}
.bd a {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	border: 1px solid gray;
	margin: 7px 29px;
}
.mod {
	float: right;
	margin-right: 30px;
}
.box-hd {
	height: 70px;
	line-height: 70px;
	font-size: 18px;
}
.box-hd h3 {
	float: left;
	margin-left: 10px;
}
.box-hd a {
	float: right;
	margin-right: 10px;
}
.bo-container ul li {
	float: left;
	margin-right: 12px;
	width: 230px;
	height: 500px;
	background-color: #FFFFFF;
}
.bo-container ul li.four,
.bo-container ul li.ten{
	margin-right: 0px;
}
.bo-container ul li {
	position: relative;
	margin-top: 15px;
}
.bo-container ul li img.bo-img {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
	width: 230px;
}
.bo-container ul li img.hot {
	position: absolute;
    top: 0px;
	right: 0px;
	z-index: 3;
	float: right;
	width: 40px;
	height: 20px;
}
.bo-container ul li h4 {
	margin-top: 170px;
	font-size: 14px;
	padding: 0 10px;
	text-align: center;
	font-weight: 700;
}
.bo-container ul li div.info {
	margin-top: 15px;
	font-size: 14px;
	padding: 0 10px;
	text-align: center;
}
.bo-container ul li div.info span {
	color: #A52A2A;
}
.footer {
	height: 200px;
	background-color: #f3f5f7;
}
.links {
	float: left;
}
.links dl {
	float: left;
	margin: 40px;
	font-size: 14px;
	font-weight: 700;
	color: #050505;
}
.links dl dt {
	font-size: 16px;
	font-weight: 700;
}
.links dl a {
	color: #050505;
}